html, body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}

h1{
  margin: 0;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: rgb(56, 56, 56);
  justify-content: center;
  align-items: center;
}

/*ローディング*/
//ローディング部分の回転エフェクト定義
@-moz-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

//ローディング画面の背景部分
#loading {
  width: 100vw;
  height: 100vh;
  background-color: #f6f7f8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

//ローディング回転部分
#loading-main:after, #loading-main:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 110%; }

#loading-main {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 105; }
  #loading-main:after {
    -moz-animation: loading 0.75s linear infinite;
    -webkit-animation: loading 0.75s linear infinite;
    animation: loading 0.75s linear infinite;
    border: 1px solid transparent;
    border-top-color: #666; }
  #loading-main:before {
    border: 1px solid rgba(51, 51, 51, 0.15); }

.movie{
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(../img/movie.gif);

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* 左右中央寄せ */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* 上下中央寄せ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#disp{
  position: absolute;
  display: flex;
  width: 100%;
  height: 8rem;
  bottom: 0;
  align-items: center;
  z-index: 2;
}

.inner{
  display: flex;
}


.box1{
  justify-content: space-between;
  margin-left: 3rem;
  align-items: center;
  margin-right: auto;
}

.box1 a{
  /*
  width: 20rem;
  height: 3rem;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);*/
  margin: 0;
  font-size: 1.3rem;
  font-weight: 800;
  color: white;
  border: solid white 2px;
  padding: 8px 34px;
  text-decoration: none;
}

.box1 a:hover{
  background: rgba(255, 255, 255, 0.3);
}

.box1 p{
  font-size: 1em;
  font-weight: 500;
  margin-top: 1.5rem;
}

.box2{
  justify-content: flex-end;
  overflow: hidden;
}

.box2 h1{
 font-size: 2.7rem;
 margin-right: 3rem;
}

@media (max-width: 749px){
  .movie{
    background-image: url(../img/movie_sp.gif);
  }
  .box1{
    margin-left: 1.5rem;
  }
  
  .box1 a{
    font-size: 1.3rem;
    font-weight: 800;
    color: white;
    padding: 8px 26px;
  }

  .box2 h1{
    font-size: 2.2rem;
    margin-right: 1.5rem;
  }
}