html, body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: rgb(56, 56, 56);
  justify-content: center;
  align-items: center;
}

.movie{
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(../img/movie.gif);

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* 左右中央寄せ */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* 上下中央寄せ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#disp{
  position: absolute;
  display: flex;
  width: 100%;
  height: 8rem;
  bottom: 0;
  align-items: center;
  z-index: 2;
}

.inner{
  display: flex;
}


.box1{
  justify-content: space-between;
  margin-left: 1.2rem;
  align-items: center;
  margin-right: auto;
}

.box1 a{
  /*
  width: 20rem;
  height: 3rem;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);*/
  margin: 0;
  font-size: 1.3rem;
  font-weight: 800;
  color: white;
  border: solid white 2px;
  padding: 8px 34px;
  text-decoration: none;
}

.box1 a:hover{
  background: rgba(255, 255, 255, 0.3);
}

.box1 p{
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.box2{
  justify-content: flex-end;
  overflow: hidden;
}

.box2 h1{
 font-size: 2.7rem;
 margin: 0 1.2rem;
}

footer{
  text-align: center;
}

@media (min-width: 768px){
  .box1{
    margin-left: 2.3rem;
  }
  
  .box1 a{
    font-size: 1.8rem;
    font-weight: 800;
    color: white;
    padding: 8px 34px;
  }

  .box2 h1{
    font-size: 2.7rem;
    margin: 0 2.3rem;
  }
}